Source: unclebench
Maintainer: Scibian Project <packaging@scibian.org>
Uploaders: Rémi Palancher <remi-externe.palancher@edf.fr>,
           Cristian Ruiz <cristian-externe.ruiz@edf.fr>,
           Pierre Trespeuch <pierre-externe.trespeuch@edf.fr>
Section: web
Priority: extra
Standards-Version: 3.9.6
Vcs-Browser: https://github.com/scibian/unclebench
Vcs-Git: https://github.com/scibian/unclebench.git
Homepage: https://github.com/edf-hpc/unclebench
Build-Depends: asciidoctor,
               debhelper (>= 9),
               dh-python,
               pandoc,
               python-all,
               python-setuptools

Package: unclebench
Architecture: all
Depends: asciidoctor,
         clustershell,
         jube,
         python-tk,
         python-jinja2,
         python-lxml,
         python-matplotlib,
         python-pandas,
         python-yaml,
         unclebench-benchmarks (= ${binary:Version}),
         unclebench-platform (= ${binary:Version}),
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Recommends: python-pyslurm
Suggests: lmod | environment-modules
Description: Automated benchmarking tool
 This package provides UncleBench software suite with all its components.

Package: unclebench-platform
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Platform description files for UncleBench benchmarking tool
 The package provide examples of xml platform description files.

Package: unclebench-benchmarks
Architecture: all
Depends: python, ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Description: Benchmarks description files for UncleBench benchmarking tool
 The package provide examples of xml benchmark description files.

